@use 'colorPallete' as color;
@use 'typography' as type;

.container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .card {
            background-color: map-get(map-get(color.$colorPallete , card ), primary);
            border: 3px solid  map-get(map-get(color.$colorPallete , card ), border);
            width: 50%;
            height: 40vh;
            margin-top: 10vh;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .title {
                  display: flex;
                  flex-direction: column;
                  text-align: center;
                  height: 30%;
                  width: 70%;
                  justify-content: space-evenly;

                  #title__main {
                        font-size: map-get(map-get(type.$font , size ), large);
                        font-weight: map-get(map-get(type.$font , weights ), heavy);
                  }

                  #title__undertext {
                        letter-spacing: 1.1px;
                        font-size: map-get(map-get(type.$font , size ), x-small);
                        font-weight: map-get(map-get(type.$font , weights ), normal);
                  }
            }

            .container__form {
                  width: 80%;
                  height: 20%;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  justify-content: center;

                  #container__form--input {
                        width: 90%;
                        height: 50%;
                        text-indent: 20px;
                  }

                  #container__form--btn {
                        height: 50%;
                  }
            }
      }

      #container__list {
            border: 3px solid  map-get(map-get(color.$colorPallete , card ), border);
            margin-top: 7vh;
            width: 50%;
            min-height: 20vh;
            height: auto;
            text-align: center;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            align-items: center;
            background-color: map-get(map-get(color.$colorPallete , card ), primary);
            border-radius: 20px;

            #title__submain {
                  font-size: map-get(map-get(type.$font , size ), medium);
            }

            .to-do-wrapper {
                  width: 75%;
                  height: 10%;
                  background-color: white;
                  text-align: left;
                  text-indent: 20px;
                  font-size: map-get(map-get(type.$font , size ), x-small);
                  border: 1px solid  map-get(map-get(color.$colorPallete , card ), border);
                  letter-spacing: 1.1px;
                  margin-top: 20px;
                  position: relative;

                  .exit-btn {
                        height: 100%;
                        position: absolute;
                        right: 0;
                        top: 0;
                  }
            }
      }
}