$colorPallete: (
      card: (
            primary: #FFE347,
            secondary: #FF3F00,
            border: #181528,
      ),
      base: (
            background:#7D7ABC,
      ),
      text: (
            font-color: black,
      )
);

