@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arimo:ital,wght@1,700&family=Days+One&family=Inconsolata&family=Odibee+Sans&family=Suez+One&family=Vesper+Libre:wght@500&display=swap');
body {
      font-family: 'Suez One', serif;
}

$font: (
  size: (
    large: 3rem,
    medium: 2rem,
    small: 1.5rem,
    x-small: 0.925rem,
  ),
  weights: (
    heavy: 600,
    normal: 400,
    light: 200,
  ),
);